*{
    font-family: 'Kanit', sans-serif;
}
#header, #description, #app{
    text-align: center;
}
.card{
    margin: auto;
    display: block;
    top:3vh;
    right:0;
    bottom:0;
    left:0;
    position:absolute;
}